body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.container {
  display: flex;
  width: 800px;
  height: 500px;
  position: relative;
}

.form-section,
.welcome-section {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.form-section {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.welcome-section {
  background-color: #e23260;
  color: #000000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  right: 0;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 1;
}

.welcome-section.login {
  background-color: #1dcd9f;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  right: 50%;
  left: 0;
}

.form-section.login {
  margin-left: 50%;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.form-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 50px 10px 10px;
  height: 44px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 1em;
  box-sizing: border-box;
  color: #000000;
}

.input-group .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group .icon i {
  font-size: 1.2em;
  color: #000000;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
}

button,
.toggle-btn {
  padding: 10px;
  height: 44px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #e23260;
  color: #ffffff;
  margin-bottom: 20px;
}

button.login {
  background-color: #1dcd9f;
  color: #000000;
}

.toggle-btn {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
}

.social-login {
  text-align: center;
}

.social-login p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.hidden {
  display: none;
}
